* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

#container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;

}
.job {
	overflow: hidden;
	width: 35%;
	justify-content: flex-start;
	border: solid 2px red;
	margin: 15px;
}

h1 {
	text-align: center;
	padding: 5px;
	margin: 5px;
	
}

h2 {
	color: white;
	background-color: blue;
	padding: 10px;
	border-bottom: solid 2px red;
	text-align: center;
}

section {
	padding: 5px;
	text-justify: inline;
}

img {
	height: 140px;
	margin-left: 28%;
	margin-right: 20%;
	justify-content: center;

}

p {
	padding: 3px;
	margin: 2px;
}

footer {
	padding: 1px;
	margin: 1px;
	font-size: 10px;
}

img#team {
	justify-content: center;
	height: 500px;
	border: solid 2px red;
	margin: 20px;
	padding: 0;
}