h3{ 
	text-align: center;
}


#divider {
	margin-top: 5%;
}

#content{
	height: auto;
	display: inline;
}

.contentBox {
	border: 1px black solid;
	min-width: 35%;
}

.contentBox p {
	padding-left: 4%;
	padding-bottom: 2%;
}

.contentBox input {
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 2%;
}

#contactUs {
	margin-left: 8%;
	float: left;
}

#signUp {
	margin-right: 8%;
	float: right;
}



/*
#signUp p {
	padding-left: 2%;
	padding-bottom: 1%;
}

#signUp input {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

input[type="submit"]{
	text-align: center;
}*/